@import "https://fonts.googleapis.com/css?family=Lato|Open+Sans+Condensed:300|Roboto+Condensed";
@import url(reset.css);
/* By default */
/* Inline Balises */
/* Title */
/* Link */
/* Special Balise */
/* Special */
/* Buttons */
/* Alerts */
/* Components */
body {
  color: #454545;
  font-family: "Lato";
  font-size: 1em;
  margin-bottom: 60px; }

div {
  margin: 5px; }

footer {
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%; }

html {
  position: relative;
  min-height: 100%; }

section {
  box-sizing: border-box;
  padding: 10px 0; }

a {
  text-decoration: none;
  color: #0069a7; }
  a:hover {
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  color: #0b0b0b;
  font-family: "Roboto Condensed";
  font-weight: normal;
  margin-top: 20px; }
  h1 small, h1.small-text-title, h2 small, h2.small-text-title, h3 small, h3.small-text-title, h4 small, h4.small-text-title, h5 small, h5.small-text-title, h6 small, h6.small-text-title {
    color: #454545;
    font-weight: lighter; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 0.7em; }

h1 {
  font-size: 2.8em; }
  h1.small-text-title {
    font-size: 2.33333em; }

h2 {
  font-size: 2.33333em; }
  h2.small-text-title {
    font-size: 2em; }

h3 {
  font-size: 2em; }
  h3.small-text-title {
    font-size: 1.64706em; }

h4 {
  font-size: 1.64706em; }
  h4.small-text-title {
    font-size: 1.4em; }

h5 {
  font-size: 1.4em; }
  h5.small-text-title {
    font-size: 1.16667em; }

h6 {
  font-size: 1.16667em; }
  h6.small-text-title {
    font-size: 1.07692em; }

blockquote {
  border-left: 3px solid #929292;
  padding: 5px; }

code {
  background-color: #bdeaee;
  border-radius: 5px;
  color: #0e5b81;
  padding: 3px 5px; }

em {
  font-style: italic; }

ins {
  background-color: #ffe700;
  color: black;
  padding: 0 5px; }

kbd {
  background-color: #f2f2f2;
  border: 1px solid #d9d9d9;
  padding: 5px;
  border-radius: 2px 5px;
  font-weight: bold;
  box-shadow: 1px 1px 1px #d9d9d9; }

mark {
  color: black;
  background-color: inherit;
  font-style: normal;
  font-weight: normal; }

p {
  margin: 10px 0;
  text-align: justify; }
  p.text-indent {
    text-indent: 50px; }

pre {
  background-color: #bdeaee;
  border: 1px solid #189cdd;
  border-radius: 5px;
  color: #0e5b81;
  overflow: auto;
  padding: 5px;
  text-align: justify; }

q::before, q::after {
  content: "''"; }

strong {
  font-weight: bold;
  color: #121212; }

.text-align-center {
  text-align: center; }

.text-align-justify {
  text-align: justify; }

.text-align-left {
  text-align: left; }

.text-align-right {
  text-align: right; }

.text-transform-capitalize {
  text-transform: capitalize; }

.text-transform-lowercase {
  text-transform: lowercase; }

.text-transform-uppercase {
  text-transform: uppercase; }

ul {
  margin-left: 20px; }
  ul li {
    list-style-type: disc; }
  ul.list-style-square li {
    list-style-type: square; }
  ul.list-without-style li {
    list-style-type: none; }

button, .btn, .jumbotron button, .blue-btn, .green-btn, .yellow-btn {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Open Sans Condensed";
  font-size: 1.2em;
  padding: 5px 12px;
  text-align: center; }
  button:hover, .btn:hover, .blue-btn:hover, .green-btn:hover, .yellow-btn:hover {
    transition: background-color 0.5s; }

.btn, .jumbotron button, .jumbotron .btn, .jumbotron .blue-btn, .jumbotron .green-btn, .jumbotron .yellow-btn {
  background-color: #e18d8d;
  border: 1px solid #bf0000;
  color: #bf0000; }
  .btn:focus, .jumbotron button:focus, .jumbotron .blue-btn:focus, .jumbotron .green-btn:focus, .jumbotron .yellow-btn:focus {
    background-color: #590000;
    color: #cc3c3c; }
  .btn:hover, .jumbotron button:hover, .jumbotron .blue-btn:hover, .jumbotron .green-btn:hover, .jumbotron .yellow-btn:hover {
    background-color: #bf0000;
    color: #e18d8d; }

.blue-btn {
  background-color: #003e5c;
  border: 1px solid #001b29;
  color: #b7e3f9; }
  .blue-btn:hover {
    background-color: #001b29; }

.green-btn {
  background-color: #009812;
  border: 1px solid #004b09;
  color: #b6f4bd; }
  .green-btn:hover {
    background-color: #004b09; }

.large-btn {
  border-radius: 7px;
  font-size: 1.3em;
  padding: 7px 15px; }

.small-btn {
  font-size: 0.7em;
  padding: 2px 5px; }

.yellow-btn {
  background-color: #c3b100;
  border: 1px solid #a39c00;
  color: #fffba6; }
  .yellow-btn:hover {
    background-color: #a39c00; }

.extra-large-btn {
  width: 100%; }

.fat-btn {
  border: none;
  border-radius: 0; }

.fancy-btn {
  background: linear-gradient(#bf0000, #590000);
  box-shadow: 1px 5px 5px black;
  color: #e18d8d; }
  .fancy-btn:hover {
    background: linear-gradient(#590000, #bf0000);
    box-shadow: 0px 0px 0px; }

.alert, .success-alert, .info-alert, .warning-alert, .danger-alert {
  background-color: #c9c9c9;
  border: 1px solid #787878;
  border-radius: 5px;
  color: #454545;
  padding: 15px; }

.success-alert {
  background-color: #a4e1b4;
  border: 1px solid #2ccc57;
  color: #1a7833; }
  .success-alert strong {
    color: #1a7833; }

.info-alert {
  background-color: #a7dae5;
  border: 1px solid #15a5c3;
  color: #0b5767; }
  .info-alert strong {
    color: #0b5767; }

.warning-alert {
  background-color: #eeb683;
  border: 1px solid #f48621;
  color: #a75408; }
  .warning-alert strong {
    color: #a75408; }

.danger-alert {
  background-color: #ea8a8a;
  border: 1px solid #fc0000;
  color: #960000; }
  .danger-alert strong {
    color: #960000; }

.breadcrumb li {
  display: inline-block;
  list-style-type: none; }
  .breadcrumb li::after {
    content: "/";
    padding: 5px; }
  .breadcrumb li:last-child a, .breadcrumb li.disabled a {
    color: #454545;
    cursor: default; }
    .breadcrumb li:last-child a:hover, .breadcrumb li.disabled a:hover {
      text-decoration: none; }
  .breadcrumb li:last-child::after {
    content: none; }

.jumbotron {
  background-color: #e3e3e3;
  max-width: 50em;
  margin: auto;
  padding: 30px;
  text-align: center; }

.navbar li a {
  text-decoration: none; }
  .navbar li a:hover {
    color: #d9db00; }
  .navbar li a.active {
    background-color: #0098d8;
    color: #d9db00; }
  .navbar li a.disabled {
    color: #3fc6ff;
    cursor: default; }
    .navbar li a.disabled:hover {
      color: #3fc6ff; }

@media screen and (min-width: 60em) {
  .navbar {
    padding-top: 12px;
    padding-bottom: 15px; }
    .navbar li {
      display: inline; }
      .navbar li a {
        padding: 10px 20px; }
        .navbar li a:hover {
          border-bottom: 3px solid #d9db00; }
        .navbar li a.active {
          border-bottom: 3px solid #d9db00; }
        .navbar li a.disabled:hover {
          border: none; } }
@media screen and (max-width: 60em) {
  .navbar::before {
    content: "";
    display: inline-block;
    background-image: url("../components/images/menu_2.png");
    background-repeat: no-repeat;
    background-size: 50px;
    cursor: pointer;
    width: 100%;
    height: 50px; }
  .navbar:hover li {
    display: block; }
  .navbar li {
    display: none; }
    .navbar li:first-child {
      border-top: 1px solid #d9db00; }
    .navbar li a {
      display: block;
      padding: 20px 0;
      padding-left: 20px;
      border-bottom: 1px solid #d9db00;
      transition: background-color 0.1s; }
      .navbar li a:hover {
        color: #d9db00;
        background-color: #0098d8; }
      .navbar li a.disabled:hover {
        background-color: inherit; } }
.page_header {
  margin-bottom: 40px; }
  .page_header h1 {
    border-bottom: 1px solid #b2b2b2;
    text-align: center;
    padding-bottom: 10px; }

.pagination {
  margin-top: 30px; }
  .pagination li {
    display: inline-block;
    list-style-type: none;
    margin: 0 -2px; }
    .pagination li a {
      border: 1px solid #005072;
      color: #0098d8;
      padding: 5px 10px; }
      .pagination li a:hover {
        background-color: #0074a5;
        color: #d9db00;
        text-decoration: none;
        transition: background-color 0.2s; }
    .pagination li.active a {
      background-color: #0074a5;
      color: #d9db00;
      text-decoration: none; }
    .pagination li.disabled a {
      color: #0074a5;
      cursor: default; }
      .pagination li.disabled a:hover {
        color: #0074a5;
        background-color: inherit; }

.grid_float .column_1 {
  box-sizing: border-box;
  width: 10.5%;
  margin: 0 1%;
  float: left; }
.grid_float .column_2 {
  box-sizing: border-box;
  width: 23%;
  margin: 0 1%;
  float: left; }
.grid_float .column_3 {
  box-sizing: border-box;
  width: 35.5%;
  margin: 0 1%;
  float: left; }
.grid_float .column_4 {
  box-sizing: border-box;
  width: 48%;
  margin: 0 1%;
  float: left; }
.grid_float .column_5 {
  box-sizing: border-box;
  width: 60.5%;
  margin: 0 1%;
  float: left; }
.grid_float .column_6 {
  box-sizing: border-box;
  width: 73%;
  margin: 0 1%;
  float: left; }
.grid_float .column_7 {
  box-sizing: border-box;
  width: 85.5%;
  margin: 0 1%;
  float: left; }
.grid_float .offset_1 {
  margin-left: 13.5%;
  margin-right: 1%; }
.grid_float .offset_2 {
  margin-left: 26%;
  margin-right: 1%; }
.grid_float .offset_3 {
  margin-left: 38.5%;
  margin-right: 1%; }
.grid_float .offset_4 {
  margin-left: 51%;
  margin-right: 1%; }
.grid_float .offset_5 {
  margin-left: 63.5%;
  margin-right: 1%; }
.grid_float .offset_6 {
  margin-left: 76%;
  margin-right: 1%; }
@media screen and (max-width: 40em) {
  .grid_float .column_1 {
    box-sizing: border-box;
    width: 23%;
    margin: 0 1%;
    float: left; } }
@media screen and (max-width: 40em) {
  .grid_float .column_2 {
    box-sizing: border-box;
    width: 48%;
    margin: 0 1%;
    float: left; } }
@media screen and (max-width: 40em) {
  .grid_float .column_3 {
    box-sizing: border-box;
    width: 73%;
    margin: 0 1%;
    float: left; } }
@media screen and (max-width: 70em) {
  .grid_float .column_4 {
    box-sizing: border-box;
    width: 98%;
    margin: 0 1%;
    float: left; } }
@media screen and (max-width: 70em) {
  .grid_float .column_5 {
    box-sizing: border-box;
    width: 98%;
    margin: 0 1%;
    float: left; } }
@media screen and (max-width: 70em) {
  .grid_float .column_6 {
    box-sizing: border-box;
    width: 98%;
    margin: 0 1%;
    float: left; } }
@media screen and (max-width: 70em) {
  .grid_float .column_7 {
    box-sizing: border-box;
    width: 98%;
    margin: 0 1%;
    float: left; } }
@media screen and (max-width: 40em) {
  .grid_float .column_3 {
    box-sizing: border-box;
    width: 98%;
    margin: 0 1%;
    float: left; } }
@media screen and (max-width: 40em) {
  .grid_float .column_4 {
    box-sizing: border-box;
    width: 98%;
    margin: 0 1%;
    float: left; } }
@media screen and (max-width: 40em) {
  .grid_float .column_5 {
    box-sizing: border-box;
    width: 98%;
    margin: 0 1%;
    float: left; } }
@media screen and (max-width: 40em) {
  .grid_float .column_6 {
    box-sizing: border-box;
    width: 98%;
    margin: 0 1%;
    float: left; } }
@media screen and (max-width: 40em) {
  .grid_float .column_7 {
    box-sizing: border-box;
    width: 98%;
    margin: 0 1%;
    float: left; } }
@media screen and (max-width: 40em) {
  .grid_float .offset_1 {
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 40em) {
  .grid_float .offset_2 {
    margin-left: 1%;
    margin-right: 1%; } }
@media screen and (max-width: 40em) {
  .grid_float .offset_3 {
    margin-left: 1%;
    margin-right: 1%; } }
.grid_float .row {
  float: none;
  clear: both;
  overflow: hidden; }

.grid_flex .column_1 {
  flex-basis: 10.5%;
  margin: 0 1%;
  flex-grow: 0;
  flex-shrink: 1; }
.grid_flex .column_2 {
  flex-basis: 23%;
  margin: 0 1%;
  flex-grow: 0;
  flex-shrink: 1; }
.grid_flex .column_3 {
  flex-basis: 35.5%;
  margin: 0 1%;
  flex-grow: 0;
  flex-shrink: 1; }
.grid_flex .column_4 {
  flex-basis: 48%;
  margin: 0 1%;
  flex-grow: 0;
  flex-shrink: 1; }
.grid_flex .column_5 {
  flex-basis: 60.5%;
  margin: 0 1%;
  flex-grow: 0;
  flex-shrink: 1; }
.grid_flex .column_6 {
  flex-basis: 73%;
  margin: 0 1%;
  flex-grow: 0;
  flex-shrink: 1; }
.grid_flex .column_7 {
  flex-basis: 85.5%;
  margin: 0 1%;
  flex-grow: 0;
  flex-shrink: 1; }
.grid_flex .offset_1 {
  margin-left: 13.5%;
  margin-right: 1%; }
.grid_flex .offset_2 {
  margin-left: 26%;
  margin-right: 1%; }
.grid_flex .offset_3 {
  margin-left: 38.5%;
  margin-right: 1%; }
.grid_flex .offset_4 {
  margin-left: 51%;
  margin-right: 1%; }
.grid_flex .offset_5 {
  margin-left: 63.5%;
  margin-right: 1%; }
.grid_flex .offset_6 {
  margin-left: 76%;
  margin-right: 1%; }
.grid_flex .row {
  display: flex;
  flex-direction: row; }

/*# sourceMappingURL=theme.css.map */
